*.pyc
python/confronto.csv
python/parameters_eval.csv
*.bkp
db/bbt_mules_2-3.db.orig
python/results.csv
python/.~lock.results.csv#
db/bbt_mules_2-3 - Copia.db
*.png
python/kpis.log
*.db-journal
*.csv
*.xls
*.zip
python/mp.py
python/tmpplot.py
db/bbt_mules_2-3_big.db
db/bbt_mules_2-3_1.db
*.log
*.1
*.svg
doc/AP209 _A_X_X_BBT_base_SWS_ANDREA.docx